# Python
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Editor & OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs & debug files
*.log
debug.log

# Jupyter notebooks
.ipynb_checkpoints/

# Build artifacts
dist/
build/
*.egg-info/

# Dependency files
pip-log.txt
pip-delete-this-directory.txt

# Test-related files
.coverage
.tox/
nosetests.xml
